#search-product-bar input{
    border: none;
    background-color: #f3f8fe;
    font-size: 20px;
    color: rgb(116, 116, 116);
    padding: 9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 400px;
}
#search-product-bar button{
    border: none;
    padding: 4px;
    padding-bottom: 6px;
    padding-right: 12px ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    background-color: #f3f8fe;
    color: rgb(116, 116, 116);
}
#search-product-bar input:focus{
    outline: none;
}
@media only screen and (max-width: 600px) {
    #search-product-bar input{
        width: 280px;
        font-size: 17px;
        padding: 7px;
    }
}